body {
	margin: 10px;
}
#canvasContainer div.kineticjs-content, #canvasContainer canvas, #canvas {
  position: relative;
  background: #F1EEE7;
  border: 1px solid gray;
}
#editor {
	position: absolute;
	top: 10px;
	left: 420px;
	height: 400px;
	right: 10px;
	border: 1px solid gray;
}

#codeButton {
	display: none;
}
#linkButton {
	display: none;
}

/* Buttons */
button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: #000;
}
button.primary {
  border: 1px solid #dd4b39;
  background-color: #dd4b39;
  color: #fff;
}
button.secondary {
  border: 1px solid #4d90fe;
  background-color: #4d90fe;
  color: #fff;
}
button.primary>img,
button.secondary>img {
  opacity: 1;
}
button>img {
  opacity: 0.6;
  vertical-align: text-bottom;
}
button:hover>img {
  opacity: 1;
}
button:active {
  border: 1px solid #888 !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
button.disabled:hover>img {
  opacity: 0.6;
}
button.disabled {
  display: none;
}
button.notext {
  font-size: 10%;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(../assets/icons.png);
}
.code {
  background-position: -21px 0px;
}
.link {
  background-position: 0px 0px;
}
.run {
  background-position: 0px -21px;
}
.stop {
  background-position: -21px -21px;
}
